<section class="card">
    <div class="card-body">
        <h1>Los Mejores Servicios Hosting 2022</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum perferendis quo ipsa porro dolorem architecto soluta officia optio nobis adipisci.</p>
    </div>
</section>