<section
  class="hero-wrap"
  style="background-image: url(img/bg1.svg);"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row description align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <div class="text">
          <h2 class="mb-2">Mejores Hostings 2022 </h2>
          <div class="designed d-inline-block">
            <d class="d-flex align-items-center">
              <div
                class="img"
                style="background-image: url(images/person.jpg);"
              ></div>
              <div class="ml-3"><p class="mb-0">Actualizado el:
                  <span>11 de diciembre 2021</span></p></div>
            </d>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light" id="cards">
  <div class="container card-styles">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-info rounded-circle"
            >
              <span
                class="fa fa-search"
                style="color:rgb(255, 255, 255)"
              ></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Mejores hostings 2022</h5>
            <p class="card-text">Lo primero es dar un vistazo a las
              recomendaciones que te harán nuestros expertos en hosting web,
              hemos creado una lista de los mejores hostings para cualquier tipo
              de proyecto.</p>
            <a href="/mejor-hosting/" class="btn btn-success btn-block">Mejores
              Hostings</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-success rounded-circle"
            >
              <span class="fa fa-book" style="color:rgb(255, 255, 255)"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Lee reseñas</h5>
            <p class="card-text">Lee las reseñas que han creado nuestros
              expertos, te ayudaran a entender mejor las ventajas ce cada
              Hosting. Nuestro contenido es originado con base a experiencias
              100% reales.</p>
            <a href="#" class="btn btn-success btn-block">Le daré un vistazo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-warning rounded-circle"
            >
              <span
                class="fa fa-cart-plus"
                style="color:rgb(255, 255, 255)"
              ></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Comprar hosting</h5>
            <p class="card-text">Una vez haya decidido cuál hosting es el mejor
              para su proyecto, puede proceder a comprarlo con seguridad.
              Recuerda que, siempre que compres mediante nosotros te llevarás un
              descuento.</p>
            <a href="#" class="btn btn-success btn-block">Ver opciones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section goto-here pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading-title">
          <h1>Mejores Alojamientos Web de 2021</h1>
		  <p class="card-text">Una vez haya decidido cuál hosting es el mejor
              para su proyecto, puede proceder a comprarlo con seguridad.
              Recuerda que, siempre que compres mediante nosotros te llevarás un
              descuento.</p>

			  <!--STBEAUTY CARD-->
<div class="demo">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable">
                    <div class="pricingTable-header">
                        <i class="fa fa-adjust"></i>
                        <div class="price-value"> $10.00 <span class="month">per month</span> </div>
                    </div>
                    <h3 class="heading">Standard</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>50GB</b> Disk Space</li>
                            <li><b>50</b> Email Accounts</li>
                            <li><b>50GB</b> Monthly Bandwidth</li>
                            <li><b>10</b> subdomains</li>
                            <li><b>15</b> Domains</li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="pricingTable green">
                    <div class="pricingTable-header">
                        <i class="fa fa-briefcase"></i>
                        <div class="price-value"> $20.00 <span class="month">per month</span> </div>
                    </div>
                    <h3 class="heading">Business</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>60GB</b> Disk Space</li>
                            <li><b>60</b> Email Accounts</li>
                            <li><b>60GB</b> Monthly Bandwidth</li>
                            <li><b>15</b> subdomains</li>
                            <li><b>20</b> Domains</li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable blue">
                    <div class="pricingTable-header">
                        <i class="fa fa-diamond"></i>
                        <div class="price-value"> $30.00 <span class="month">per month</span> </div>
                    </div>
                    <h3 class="heading">Premium</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>70GB</b> Disk Space</li>
                            <li><b>70</b> Email Accounts</li>
                            <li><b>70GB</b> Monthly Bandwidth</li>
                            <li><b>20</b> subdomains</li>
                            <li><b>25</b> Domains</li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="pricingTable red">
                    <div class="pricingTable-header">
                        <i class="fa fa-cube"></i>
                        <div class="price-value"> $40.00 <span class="month">per month</span> </div>
                    </div>
                    <h3 class="heading">Extra</h3>
                    <div class="pricing-content">
                        <ul>
                            <li><b>80GB</b> Disk Space</li>
                            <li><b>80</b> Email Accounts</li>
                            <li><b>80GB</b> Monthly Bandwidth</li>
                            <li><b>25</b> subdomains</li>
                            <li><b>30</b> Domains</li>
                        </ul>
                    </div>
                    <div class="pricingTable-signup">
                        <a href="#">sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
			   <!--END BEUTY CARD-->
        </div>
      </div>
    </div>
  </section>

    <hr class="my-5" />

   