<section
  class="hero-wrap"
  style="background-image: url(img/bg1.svg);"
  data-stellar-background-ratio="0.5"
>
  <div class="overlay"></div>
  <div class="container">
    <div class="row description align-items-center justify-content-center">
      <div class="col-md-8 text-center">
        <div class="text">
          <h2 class="mb-2">Mejores Hostings 2022 </h2>
          <div class="designed d-inline-block">
            <d class="d-flex align-items-center">
              <div
                class="img"
                style="background-image: url(images/person.jpg);"
              ></div>
              <div class="ml-3"><p class="mb-0">Actualizado el:
                  <span>11 de diciembre 2021</span></p></div>
            </d>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light" id="cards">
  <div class="container card-styles">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-info rounded-circle"
            >
              <span
                class="fa fa-search"
                style="color:rgb(255, 255, 255)"
              ></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Mejores hostings 2022</h5>
            <p class="card-text">Lo primero es dar un vistazo a las
              recomendaciones que te harán nuestros expertos en hosting web,
              hemos creado una lista de los mejores hostings para cualquier tipo
              de proyecto.</p>
            <a href="/mejor-hosting/" class="btn btn-success btn-block">Mejores
              Hostings</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-success rounded-circle"
            >
              <span class="fa fa-book" style="color:rgb(255, 255, 255)"></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Lee reseñas</h5>
            <p class="card-text">Lee las reseñas que han creado nuestros
              expertos, te ayudaran a entender mejor las ventajas ce cada
              Hosting. Nuestro contenido es originado con base a experiencias
              100% reales.</p>
            <a href="#" class="btn btn-success btn-block">Le daré un vistazo</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="icon-wrap px-4 pt-4">
            <div
              class="icon d-flex justify-content-center align-items-center bg-warning rounded-circle"
            >
              <span
                class="fa fa-cart-plus"
                style="color:rgb(255, 255, 255)"
              ></span>
            </div>
          </div>
          <div class="card-body pb-5 px-4">
            <h5 class="card-title">Comprar hosting</h5>
            <p class="card-text">Una vez haya decidido cuál hosting es el mejor
              para su proyecto, puede proceder a comprarlo con seguridad.
              Recuerda que, siempre que compres mediante nosotros te llevarás un
              descuento.</p>
            <a href="#" class="btn btn-success btn-block">Ver opciones</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="ftco-section goto-here pb-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12 heading-title">
          <h1>Mejores Alojamientos Web de 2021</h1>
		  <p class="card-text">Una vez haya decidido cuál hosting es el mejor
              para su proyecto, puede proceder a comprarlo con seguridad.
              Recuerda que, siempre que compres mediante nosotros te llevarás un
              descuento.</p>


			  <!-- 1 STBEAUTY CARD-->

       <script>
	$(document).ready(function(){
		$(".wish-icon i").click(function(){
			$(this).toggleClass("fa-heart fa-heart-o");
		});
	});	
</script>
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Featured <b>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="item active">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="/img/affiliates/banahosting.svg" class="img-responsive" alt="">									
								</div>
								<div class="thumb-content">
									<h4>BanaHosting</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price"><s>DESEDE</s <b>$369.00</b></p>
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="/img/affiliates/banahosting.svg" class="img-responsive" alt="">
								</div>
								<div class="thumb-content">
									<h4>Sony Headphone</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price">dddd<b>$23.99</b></p>
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
						</div>		
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="/img/affiliates/banahosting.svg" class="img-responsive" alt="">
								</div>
								<div class="thumb-content">
									<h4>Macbook Air</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<p class="item-price"><strike>$899.00</strike> <b>$649.00</b></p>
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
						</div>								
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<span class="wish-icon"><i class="fa fa-heart-o"></i></span>
								<div class="img-box">
									<img src="/img/affiliates/banahosting.svg" class="img-responsive" alt="">
								</div>
								<div class="thumb-content">
									<h4>Nikon DSLR</h4>									
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<p class="item-price"><strike>$315.00</strike> <b>$250.00</b></p>
									<a href="#" class="btn btn-primary">Add to Cart</a>
								</div>						
							</div>
						</div>
					</div>
				</div>
			   <!-- 1 ST END BEUTY CARD-->
        </div>
      </div>
    </div>
  </section>

    <hr class="my-5" />

   