<!-- Required meta tags -->
<meta charset="utf-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<link
  href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap"
  rel="stylesheet"
/>

<link
  href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/fonts/icomoon/style.css" />

<!-- Style CSS -->
<link rel="stylesheet" href="/css/style.css" />

<footer class="footer-20192">
  <div class="site-section">
    <div class="container">

      <div class="cta d-block d-md-flex align-items-center px-5">
        <div>
          <h2 class="mb-0">Los Mejores Hosting de 2022</h2>
          <h3 class="text-ligth">Elegidos por nuestros expertos</h3>
        </div>
        <div class="ml-auto">
          <a
            href="/mejor-hosting/"
            class="btn btn-primary rounded-0 py-3 px-5"
          >Ver Ahora!</a>
        </div>
      </div>
      <div class="row">

        <div class="col-sm">
          <img
            src="/img/logo-white.png"
            altwidth="100"
            height="100"
            class="d-inline-block align-top"
            alt=""
          />
          <a href="#" class="footer-logo">helpMyHosting</a>
          <p class="copyright">
            <small>Todos los derechos reservados. RankingIn SRL&copy; 2021</small>
          </p>
        </div>
        <div class="col-sm">
          <h3>Nosotros</h3>
          <ul class="list-unstyled links">
            <li><a href="#">Acerca</a></li>
            <li><a href="#">Políticas</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Hosting</h3>
          <ul class="list-unstyled links">
            <li><a href="/mejor-hosting/">Mejor Hosting 2022</a></li>
            <li><a href="/mejor-hosting/wordpress/">Hosting WordPress</a></li>
            <li><a href="/mejor-hosting/barato/">Hosting Barato</a></li>
          </ul>
        </div>
        <div class="col-sm">
          <h3>Calificación por País</h3>
          <ul class="list-unstyled links">
            <li><a href="/mejor-hosting/mexico/">Mejor Hosting México</a></li>
            <li><a href="/mejor-hosting/espana/">Mejosr Hosting España</a></li>
            <li><a href="/mejor-hosting/chile/">Mejosr Hosting Chile</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3>Redes Sociales</h3>
          <ul class="list-unstyled social">
            <li><a href="#"><span class="icon-facebook"></span></a></li>
            <li><a href="#"><span class="icon-twitter"></span></a></li>
            <li><a href="#"><span class="icon-linkedin"></span></a></li>
            <li><a href="#"><span class="icon-paper-plane"></span></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>